@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  overflow: hidden;
  transition: background 0.5s ease;
} */

.custom-shape {
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 19%, 17% 0%);
}

input:focus {
  outline: none;
}

h1 {
  font-size: 60px;
  font-weight: 800;
  line-height: 100%;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
}

h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 100%;
}

h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
}

h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}

.floating-effect {
  animation-name: floatingAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes floatingAnimation {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
